extends ../layouts/default

block content
    #quiz
    
    //- script(src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js")
    //- script(src="./js/terms-list.js")
    //- script(src="./socket.io.js")
    //- script(src="./js/dictionary.js")