html,
body {
    // max-width: 100%;
    // overflow-y: hidden;
    overflow-x: hidden;
}

#header {
    margin-top: 0px;
}
.navbar .navbar-brand {
    position: relative;
    img {
        margin-top: 10px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.nav {
    margin-bottom: 0 !important;
    
    .social{
        span {
            margin-left: 5px;
        }

        img {
            height: 20px !important;
            width: 20px !important;
        }
    }
    // img {
    //     margin-top: 10px;
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    // }
    a {
        color: #462733 !important;
    }
    a:hover {
        color: #fb2720;
    }
    .active {
        a {
            color: #fb2720 !important;
        }
        .btn-danger {
            background-color: #fb2720 !important;
            color: white !important;
            border-color: #fb2720 !important;
        }
    }
    
    .btn-danger {
        color: #45081f !important;
        border-color: #45081f !important;
    }
    .btn-danger:hover {
        background-color: #fb2720 !important;
        color: white !important;
        border-color: #fb2720 !important;
    }
    .btn-danger:focus {
        background-color: #fb2720 !important;
        color: white !important;
        border-color: #fb2720 !important;
    }
}
.btn-danger {
    color: #fb2720;
    border-color: #fb2720;
}
.btn-danger:hover {
    background-color: #fb2720;
    color: white;
    border-color: #fb2720;
}
.btn-danger:focus {
    background-color: #fb2720;
    color: white;
    border-color: #fb2720;
}
body > .navbar-collapse::after {
    background-color: white;
}
p {
    line-height: 1.8em;
}

a img {
    width: 100%;
}

.landing-header {
    background-size: cover;
    min-height: 70vh;
    
    .motto {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: left;
        z-index: 3;
        color: #45081f;
    }

    img {
        height: 100px;
    }

    h1 {
        font-size: 3.8em;;
    }

    hr {
        border-color: rgba(69, 8, 31, 0.24);
    }
}

.hello-word p {
    font-size: 18px;
    font-weight: normal;
}

.dictionary {
    background-size: cover;
    min-height: 60vh;
}

.dictionary-search-field {
    form input {
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom: 3px solid white;
        font-size: 1.825em;
        height: 80px;
    }
    form input::placeholder {
        color: #b3b3b3;
    }
    form input:focus {
        border-color: #66615B;
        background-color: rgba(255, 255, 255, 0.9);
    }
    form input:focus::placeholder {
        color: white;
    }
    .search-button {
        padding-left: 0;
        button {
            height: 80px;
            width: 100%;
            font-size: 1.825em;
            font-weight: lighter;
            color: #66615B;
            border-color: #66615B;
        }
        button:hover {
            background-color: transparent;
            color: white;
            border-color: white;
        }
        button:active {
            background-color: transparent !important;
            color: white;
            border-color: white;
        }
        button:focus {
            background-color: transparent !important;
            color: white;
            border-color: white;
        }
    }

    #abc {
        #abc-letters {
            list-style: none;
            margin-top: 15px;
            padding-left: 0px;
            li {
                display: inline;
            }
            button {
                font-size: 1.825em;
                background-color: rgba(255, 255, 255, 0.5);
                border: 2px solid white;
                border-radius: 8px;
                margin: 5px;
                color: #66615B;
            }
            .active button {
                background-color: white;
                color: #45081f;
            }
            .empty {
                color: rgba(255, 255, 255, 0.5);
            }
            
        }

        #abc-words {
            border-radius: 8px;
            border: 2px solid white;
            max-height: 20vh;
            overflow-y: scroll;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 10%;
            ul {
                padding: 0;
                margin: 20px;
            }
            li {
                list-style: none;
                display: inline;
            }
            
            .btn {
                font-size: 1.4em;
                color: #66615B;
            }
            
        }
    }
}

#searchDropdown {
    background-color: #d6c1ab;
    color: white;
    margin-top: -5px;
    box-shadow: 0 20px 16px -15px rgba(165, 165, 165, 0.9);
    border-radius: 1px;
    position: absolute;
    width: calc(100% - 30px);
    z-index: 10;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        font-size: 1.85em;
        padding-left: 10px;
    }
    li:hover,
    .searchDropdownHover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.results-section {
    min-height: 40vh;
}

#results {
    // border-radius: 8px;
    // box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    // background-color: #FFFFFF;
    font-size: 1.85em;
    // margin-top: 10px;
    padding: 20px;
    // overflow-y: scroll;
    // min-height: 40vh;
    .morphology {
        color: #ccc5b9;
        font-size: 14px;
    }

    .header {
        color: #ccc5b9;
        font-size: 0.7em;
        margin-bottom: 5px;
    }
    
    .meaning,
    .example li {
        text-indent: 10px;
        padding-left: 10px;
    }
}

#footer {
    margin-top: 30px; 
    // border-top: 1px solid #eeeeee;
    padding-top: 30px;
    color: #777777;
    min-height: 200px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

#loader {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position:  absolute;
    top: 85px;
}

.loader {
    border: 15px solid #fef4f5;
    border-top: 15px solid #45081f;
    border-bottom: 15px solid #45081f;
    border-right: 15px solid #45081f;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left:  calc(50% - 75px);
    margin-top: calc(25% - 75px);
    animation: preloaderSpin 5s linear infinite;
}

@keyframes preloaderSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.highlight {
    background-color: olivedrab;
}

.regalia {
    // position: relative;
    .logo {
        margin-bottom: 10px;
    }
    .content {
        // width: 30vw;
        // position: absolute;
        // top: 0;
        // left: 100px
    }
}

.text-danger {
    color: #45081f !important;
}
#voiceSearch {
  z-index: 100;
  position: absolute;
  right: 2rem;
  font-size: 3rem;
  border: none;
  top: 2rem;
  color: red;
  background: none;
}
#voiceSearch:active {
  color: darkred;
}